.updated{
    animation: update 5s ease-in-out;
    border-radius: 4px;
    width: fit-content;
    padding: 2px;
}
@keyframes update{
    0%{
        color: var(--animate_color);
      background: var(--animate_1); 
    }
    
    100%{
        color: var(--animate_color);
      background: var(--animate_2);
      
    }
  }