.task-wraper{
    background-color: var(--task_card_background);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin: 0 16px;
    position: relative;
}
.image-wraper img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%
}
.react-player__preview{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.task-content{
    padding: 10px 15px
}
.task-text{
    padding: 5px 0;
    font-size: 15px;
    line-height: 20px;
}
.task-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.task-status{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: opacity 1s ease-in;
}
.task-complete{
    display: flex;
    background-color: rgb(165, 255, 123);
}
.task-failure-enter-done{
    display: flex;
    background-color: var(--destructive)
}
.task-failure-enter{
    display: flex;
    background-color: var(--destructive);
    opacity: 0;
}
.task-failure-active-enter{
    opacity: 1;
}
.task-failure-exit{
    display: flex;
    opacity: 1;
    background-color: var(--destructive)
}
.task-failure-exit-active {
    opacity: 0;
    display: flex;
    transition: opacity 1s ease-out;
}

.task-content-placeholder{
    height: 100px;
    overflow: hidden;
    position: relative;
    
   
}
.task-title-placeholder{
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: var(--placeholder_background); 
    background: var(--placeholder_animation);
    background-size: 800px; 
    width: 30%;
    position: absolute;
    top: 10px;
    left: 15px;
    height: 16px
}
.task-text-placeholder{
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: var(--placeholder_background); 
    background: var(--placeholder_animation);
    background-size: 800px; 
    width: calc( 100% - 30px );
    position: absolute;
    top: 35px;
    left: 15px;
    height: 14px
}
.task-text-placeholder#d2{
    top: 55px;
    left: 15px;
}
.task-btn-placeholder{
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: var(--placeholder_background); 
    background: var(--placeholder_animation);
    background-size: 800px; 
    width: calc( 100% - 30px );
    position: absolute;
    top: 80px;
    left: 15px;
    height: 28px;
    border-radius: 8px;
}
@keyframes placeholderAnimate {
    0%{ background-position: -400px 0; }
    100%{ background-position: 400px 0; }
}